#enterprise-container .header nav {
  width: 25%;
  min-width: 420px;
}

#enterprise-container .header .logo {
  font-family: Nasalization;
  font-weight: 400;
  color: white;
}

#enterprise-container .header nav ul li a {
  color: white;
  font-weight: 400;
  font-family: Oswald;
  letter-spacing: 2px;
}

#enterprise-container .header#unactivated {
  animation: scrollUpHeader 0.8s normal forwards;
}

#enterprise-container .header#actived {
  animation: scrollDownHeader 0.8s normal forwards;
  background-color: #1f1f2d;
  opacity: 0.95;
}

#enterprise-container .hero {
  margin-top: -10rem;
  min-height: 580px;
  background-image: url("/img/mastic-background.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-clip: border-box;
  background-size: 100%;
}

#enterprise-container .hero .hero-text {
  margin-top: 9rem;
  min-height: 580px;
  margin-left: auto;
  margin-right: auto;
  font-family: Nasalization;
  color: white;
  min-width: 300px;
  width: 60vw;
  font-size: calc((100% * 100) / 6);
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

#enterprise-container .hero .hero-text .letter {
  font-weight: 500;
  position: absolute;
  width: calc(100% / 6);
}

#enterprise-container .hero .hero-text img {
  height: 90%;
  min-height: 320px;
  width: 100%;
  max-width: 720px;
  position: absolute;
}

#enterprise-container .hero .hero-text .letter.m {
  z-index: 1;
  left: 0;
}

#enterprise-container .hero .hero-text img {
  top: 0;
  z-index: 2;
  left: calc(100% - (720px * 1.3));
}

#enterprise-container .hero .hero-text .letter.a {
  z-index: 3;
  left: calc((((1% * 1000) / 6) / 6) * 1);
}

#enterprise-container .hero .hero-text .letter.s {
  z-index: 1;
  left: calc((((1% * 1000) / 6) / 7) * 2);
}

#enterprise-container .hero .hero-text .letter.t {
  z-index: 3;
  right: calc((((1% * 1000) / 6) / 8.5));
}

#enterprise-container .hero .hero-text .letter.i {
  z-index: 1;
  right: calc((((1% * 1000) / 6) / 26));
}

#enterprise-container .hero .hero-text .letter.c {
  z-index: 1;
  right: 0;
}

/**#enterprise-container .hero .hero-text {
}*/

@media (min-height: 1300px) {
  #enterprise-container .hero .hero-text img {
    top: 15%;
  }
}

@media (max-width: 1830px) {
  #enterprise-container .hero .hero-text {
    font-size: calc((100% * 100) / 8);
  }

  #enterprise-container .hero .hero-text img {
    left: 13%;
  }
}

@media (max-width: 1430px) {
  #enterprise-container .hero .hero-text {
    font-size: calc((100% * 10));
  }

  #enterprise-container .hero .hero-text img {
    left: 5%;
  }
}

@media (max-width: 1130px) {
  #enterprise-container .hero {
    max-height: 974px;
  }

  #enterprise-container .hero .hero-text {
    font-size: calc((100% * 100) / 14);
  }

  #enterprise-container .hero .hero-text {
    min-height: 358px;
  }

  #enterprise-container .hero .hero-text img {
    max-height: 70%;
    width: 100%;
    max-width: 75%;
    left: 10%;
  }
}

@media (max-width: 870px) {
  #enterprise-container .hero {
    min-height: 500px;
  }

  #enterprise-container .hero .hero-text {
    font-size: calc((100% * 100) / 20);
  }

  #enterprise-container .hero .hero-text {
    min-height: 360px;
  }

  #enterprise-container .hero .hero-text img {
    max-height: 70%;
    height: 250px;
    width: 100%;
    max-width: 74%;
  }
}

@media (max-width: 775px) {
  #enterprise-container .header .logo {
    font-size: 1.8rem;
  }
  #enterprise-container .hero {
    min-height: 400px;
  }

  #enterprise-container .hero .hero-text {
    min-height: 360px;
  }

  #enterprise-container .hero .hero-text img {
    max-height: 70%;
    top: 8%;
    min-height: 120px;
    height: 100%;
    max-width: 78%;
  }
}

@media (max-width: 580px) {
  #enterprise-container .hero {
    min-height: 290px;
  }

  #enterprise-container .hero .hero-text {
    font-size: calc((100% * 100) / 30);
  }

  #enterprise-container .hero .hero-text {
    margin-top: 2rem;
    min-height: 230px;
  }

  #enterprise-container .hero .hero-text img {
    left: 12%;
    max-height: 75%;
    top: 8%;
    min-height: 120px;
    height: 100%;
    max-width: 68%;
  }
}

@media (max-width: 450px) {
  #enterprise-container .hero {
    min-height: 270px;
  }

  #enterprise-container .hero .hero-text {
    min-height: 190px;
    margin-top: 0px;
  }

  #enterprise-container .hero {
    margin-top: -70px;
  }

  #enterprise-container .hero .hero-text .letter.i {
    z-index: 1;
    right: calc((((1% * 1000) / 6) / 17));
  }

  #enterprise-container .hero .hero-text {
    margin-top: 2rem;
    min-height: 200px;
  }

  #enterprise-container .hero .hero-text img {
    left: 20%;
    max-height: 65%;
    top: 8%;
    min-height: 120px;
    height: 100%;
    max-width: 58%;
  }
}

@keyframes scrollUpHeader {
  0% {
    position: fixed;
    top: 0px;
    z-index: 10;
  }

  90% {
    position: fixed;
    top: -15rem;
    z-index: 10;
  }

  100% {
    position: sticky;
  }
}

@keyframes scrollDownHeader {
  0% {
    position: sticky;
  }

  10% {
    position: fixed;
    top: -15rem;
    z-index: 10;
  }

  100% {
    position: fixed;
    top: 0;
    z-index: 10;
  }
}
