/* Neste arquivo css, vamos apenas linkar todos os outros arquivos CSS3 e deixar só as configurações principais*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
--------------------------------------------- */

/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/

.App {
  position: relative;
}

@font-face {
  font-family: "Poppins";
  src: url("/global/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald";
  src: url("/global/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald-Light";
  src: url("/global/fonts/Oswald-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Oswald-ExtraLight";
  src: url("/global/fonts/Oswald-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Nasalization";
  src: url("/global/fonts/nasalization.otf") format("opentype");
}
/*
  reset
*/

* {
  box-sizing: border-box;
  transition-duration: 0.6s;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
div pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
figure,
header,
nav,
section,
article,
aside,
footer,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: var(--color-background);
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}

fieldset {
  border: none;
}

a {
  text-decoration: none !important;
  color: var(--color-text);
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 25px;
  color: var(--color-text);
}

/*
---------------------------------------------
global styles
---------------------------------------------
*/
:root {
  --color-background: rgb(243, 243, 247);
  --color-primary: rgba(30, 236, 88, 1);
  --color-title: rgba(64, 64, 64, 1);
  --color-text: rgba(88, 88, 88, 1);
  --color-secondary-title: rgba(105, 105, 105, 1);
  --color-secondary-text: rgba(157, 157, 157, 1);

  font-size: 62.5%; /* 10px */
}

html,
body {
  overflow-x: hidden;
  min-height: 100vh;
}

em {
  font-style: normal;
}

small {
  text-align: center;
  opacity: 0.9;
}

@media (max-width: 1280px) {
  :root {
    font-size: 55%;
  }
}

@media (max-width: 980px) {
  :root {
    font-size: 45%;
  }
}

@media (max-width: 450px) {
  :root {
    font-size: 35%;
    text-align: center;
  }
}
